# Folders
games
url
vendor
elpa
tramp

# Eshell
eshell/*
!eshell/alias

# Autosave folders and files
.\#*
\#*
.saves/*
!.saves/.gitkeep
auto-save-list

# Files created by using extensions
ede-projects.el
ac-comphist.dat
.yas-compiled-snippets.el
.python-environments
ido.last
.mc-lists.el
session.*
network-security.data

# Custom file
custom.el

# OS created files
.DS_Store

# Server files
server
