# Automatically created files
.DS_Store
ido.last
.mc-lists.el

# Generic folders
games
url
vendor
elpa
tramp
eshell/*
!eshell/alias

# Auto-saving folders
.saves/*
!.saves/.gitkeep
auto-save-list

# Files created by using extensions
ede-projects.el
ac-comphist.dat
.yas-compiled-snippets.el
.python-environments

.\#*
\#*
custom.el
session.*
